/*!
 * Version 1.0.0
 * Sunday, 16 August 2015
 * Written by Debashis Barman
 */

h1 {
  font-size: 21px;
}

p { 
  margin-bottom: 21px;
  font-size: 13px; 
  line-height: 2;  
}

a {
  color: inherit;
  border-bottom: 1px solid #333;
}

a:hover {
  color: #000;
}

body {
  padding-top: 3%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  background-color: #f3f5f6;
}

.db {
  width: 55%;
  margin-top: -21px;
  margin-bottom: -21px;
}

.dbsign {
  width: 55px;
}
