$base-theme-color: #eee;

body.db-site {
  padding-top: 3%;
  font: 400 89%/1.75 "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;

  @media (max-width: 479px) {
    padding: 0;
    font-size: 13px;
  }

  @media print {
    padding: 0;
    font-size: 13px;
  }  
}

h1.db-headline {
  font-weight: 900;
}

h2.db-subhead {
  color: darken($base-theme-color, 34%);

  &.db-subhead--tagline {
    font-size: 1em;
    text-transform: uppercase;

    @media (max-width: 479px) {
      font-size: 11px;
      line-height: 1.75;
    }

    @media (max-width: 839px) {
      max-width: 44ch;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

h3.db-projects-list__title {
  font-weight: 500;
}

code {
  font-size: 13px;

  @media (max-width: 479px) {
    font-size: 10px;
  }
}

header.db-header {
  position: absolute;
  top: 377px;
  left: -134px;
  margin: 0px;
  color: darken($base-theme-color, 34%);
  text-transform: uppercase;
  transform: matrix(0, -1, 1, 0, 0, 0);
}

.db-grid--modified {
  padding: 3% 5% 5%;
  background-color: #fff;

  @media (max-width: 479px) {
    padding: 16px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }
}

.db-cell-modified {
  @media (min-width: 840px) {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px dashed darken($base-theme-color, 34%);
  }

  & > p.db-cell-modified__para-intro  {
    padding-bottom: 21px;

    @media print {
      padding-bottom: 13px;
    }
  }
}

.button {
  padding-top: 5px;
  padding-right: 13px;
  padding-bottom: 5px;
  padding-left: 13px;
}

.db-avatar {
  margin-top: 13px;
  max-width: 144px;

  &.db-avatar--round {
    border-radius: 50%;
  }
}

ul {
  margin-bottom: 34px;

  @media (max-width: 479px) {
    padding-right: 0;
    padding-left: 0;
  }

  @media print {
    margin-bottom: 0px;
  }

  &.db-projects-list > li {
    margin-bottom: 34px;
    list-style: square;

    @media (max-width: 479px) {
      padding-left: 0;
      list-style: none;
    }

    @media print {
      margin-bottom: 0;
    }
  }
}

ol {
  & > li {
    margin-bottom: 13px;
  }
}

footer.db-footer {
  padding-bottom: 3%;

  @media (max-width: 479px) {
    background-color: lighten($base-theme-color, 5%);
  }

  @media print {
    padding: 0;
  }

  p {
    font-size: 13px;
    color: darken($base-theme-color, 34%);

    @media (max-width: 479px) {
      font-size: 10px;
    }
  }
}
