---
layout: default
---

<header class="masthead">
<div class="masthead-inner-wrapper">
<div class="masthead-inner">

{% include sidebar.html %}

</div>
</div>
</header>

<div class="content container clearfix">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">

{% include about.html %}

<br id="projects">
{% include projects.html %}

<br id="articles">
<h2>Articles</h2>
<ul>
{% for post in site.posts %}
<li>
<strong><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong>
{{ post.excerpt }}
</li>
{% endfor %}
</ul>

<br id="references">
{% include references.html %}

<br id="other-pages">
{% include other-pages.html %}

<br id="notice">
<p>The most upto date version of this website can be found <a href="http://www.debashisbarman.in">here</a> (the link will redirect to this website if this is the most upto date).</p>
			
</div>
</div>
</div>
