---
layout: default
---
<div class="block">
{% include welcome.html %}
</div>

<div class="block">
{% include projects.html %}
</div>

<div class="block">
<h2>Articles</h2>
<ul>
{% for post in site.posts %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
<!--{{ post.excerpt }}-->
</li>
{% endfor %}
</ul>
</div>

<div class="block">
{% include references.html %}
</div>

<div class="block">
{% include other.html %}
</div>

<div class="block">
{% include disclaimer.html %}
</div>
