<h2>About</h2>
<p>I'm a 21 year old college guy who is currently doing B.Tech in Computer Science and Engineering in Assam Don Bosco University, Assam, India.</p>
<p>I enjoy computer programming, writing CSS and doing projects, specially on web and <a target="_blank" href="https://github.com/debashisbarman/Mini-OS/">operating system</a>. Some of my works are available on <a target="_blank" href="http://www.behance.net/debashisbarman/">Behance</a>.</p>
<p>You can find me on <a target="_blank" href="https://www.github.com/debashisbarman/">Github</a>. Contact me at <a href="mailto:deb.dbuniversity@gmail.com">deb [dot] dbuniversity [at] gmail [dot] com</a>.</p>
<p>I love minimalism and occasionally blog here.</p>
