<!-- Intro -->
<div class="row intro">
	<div class="col-lg-8 col-lg-offset-2 col-md-offset-2">
		<h1><strong>Hi! I'm Deb.</strong></h1>
		<h2>and I'm a designer.</h2>
	</div>
	<div class="col-lg-8 col-lg-offset-2">
		<blockquote>A sensitive soul with an expressive nature that believes Inspiration is Art.</blockquote>
	</div>
</div>

<!-- About -->
<div class="row">
	<div class="col-lg-1 col-lg-offset-1 text-right"></div>
	<div class="col-lg-4">
		<p>My name is Debashis Barman and I am a Freelance front end Web Designer. I try to make the websites I design and build as simple and intuitive to use as possible whilst still having a unique aesthetic appeal. I specialise in responsive front-end design, HTML/CSS and web typography.</p>
	</div>
	<div class="col-lg-4">
		<p>When I'm free, I spend my time exploring places and beyond, adventuring in the wilderness, working on tiny side projects, writing, romancing my <em>lovely girlfriend</em>, sketching and doodling, <span class="fun">reading</span> short stories and novels, listening to music and playing games. And internet. I love internet.</p>
	</div>
</div>
<hr class="para"/>
