<!-- Projects Start -->
<section class="clearfix">
<div class="container clearfix">
<div class="row">

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="https://github.com/debashisbarman/Mini-OS">Mini Operating System</a></p>
</div>
<div class="col-lg-6 col-md-8 col-sm-12">
<p>Bare Bone Operating System written in C and Assembly</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="{{ "/Kathamo" | prepend: site.baseurl }}">Kathamo 2.0.0</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Kathamo is a minimalist mobile friendly CSS framework</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="http://www.kenmanipur.org">Knowlege Exchange Network</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Official website for Knowledge Exchange Network</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a class="ongoing-project" href="">PhD. Activity Management System</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Software for Director of Research, Assam Don Bosco University <span class="ongoing-project">( ongoing project )</span></p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a class="ongoing-project" href="">Smart ADBU</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Official android app for Assam Don Bosco University <span class="ongoing-project">( ongoing project )</span></p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a class="ongoing-project" href="">North Kamrup College</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Official website for North Kamrup College <span class="ongoing-project">( ongoing project )</span></p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="http://www.surajitbarman.in">Surajit Barman</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Official website for Dr. Surajit Barman</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="{{ "/Indeva" | prepend: site.baseurl }}">Indeva.in</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Official website of Initiative for Development Activities in India</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="http://onemandesign.github.io">One Man Design</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Freelance design and development studio</p>
</div>
</div>

<div class="section clearfix">
<div class="col-lg-4 col-md-4 col-sm-12 text-right">
<p><a target="_blank" href="{{ "/Sherlock-Holmes" | prepend: site.baseurl }}">Sherlock Holmes</a></p>
</div>
<div class="col-lg-8 col-md-8 col-sm-12">
<p>Conceptual design for Sherlock Holmes about page</p>
</div>
</div>

</div>
</div>
</section>
<!-- Projects end -->
