<h1>References</h1>
<ul>
<li><a target="_blank" href="https://gist.github.com/debashisbarman" >Gist</a></li>
<li><a target="_blank" href="http://debashisbarman.tumblr.com" >Tumblr</a></li>
<li><a target="_blank" href="https://medium.com/@Deb_Speaks" >Blog on Medium</a></li>
<li><a target="_blank" href="https://debashisbarman.wordpress.com" >Blog on Wordpress</a></li>
<li><a target="_blank" href="https://plus.google.com/+DebashisBarman">+DebashisBarman</a></li>
<li><a target="_blank" href="https://www.facebook.com/debashisb04" >Facebook</a></li>
<li><a target="_blank" href="http://in.linkedin.com/pub/debashis-barman/66/a26/b67" >LinkedIn</a></li>
</ul>