<article class="myskills clerfix">
<div class="container clearfix">
<div class="row clearfix">
<div class="col-lg-5 col-md-5 col-sm-12 text-right">
<h2>Skills</h2>
</div>
<div class="col-lg-2 col-md-2 hidden-sm text-center">
<h2><svg class="svg-icon" viewBox="0 0 20 20">
<path d="M17.684,7.925l-5.131-0.67L10.329,2.57c-0.131-0.275-0.527-0.275-0.658,0L7.447,7.255l-5.131,0.67C2.014,7.964,1.892,8.333,2.113,8.54l3.76,3.568L4.924,17.21c-0.056,0.297,0.261,0.525,0.533,0.379L10,15.109l4.543,2.479c0.273,0.153,0.587-0.089,0.533-0.379l-0.949-5.103l3.76-3.568C18.108,8.333,17.986,7.964,17.684,7.925 M13.481,11.723c-0.089,0.083-0.129,0.205-0.105,0.324l0.848,4.547l-4.047-2.208c-0.055-0.03-0.116-0.045-0.176-0.045s-0.122,0.015-0.176,0.045l-4.047,2.208l0.847-4.547c0.023-0.119-0.016-0.241-0.105-0.324L3.162,8.54L7.74,7.941c0.124-0.016,0.229-0.093,0.282-0.203L10,3.568l1.978,4.17c0.053,0.11,0.158,0.187,0.282,0.203l4.578,0.598L13.481,11.723z"></path>
</svg></h2>
</div>
<div class="col-lg-5 col-md-5 hidden-sm">
<h2>Interest</h2>
</div>
</div>
<div class="row">
<div class="col-lg-5 col-md-5 col-sm-12 text-right">
<ul>
<li class="clearfix">
<p>Programming<br class="hidden-sm">
<div class="skill pull-right"><div class="fill" style="width:170px"></div>
</p>
</li>
<li class="clearfix">
<p>Web Design / Development<br class="hidden-sm">
<div class="skill pull-right"><div class="fill" style="width:200px"></div></div>
</p>
</li>
<li class="clearfix">
<p>Mobile Development<br class="hidden-sm">
<div class="skill pull-right"><div class="fill" style="width:120px"></div></div>
</p>
</li>
<li class="clearfix">
<p>Graphics / Illustration<br class="hidden-sm">
<div class="skill pull-right"><div class="fill" style="width:150px"></div></div>
</p>
</li>
</ul>
</div>
<div class="col-lg-2 col-md-2 hidden-sm">
<div class="hr-line"></div>
</div>
<div class="col-lg-5 col-md-5 col-sm-12">
<h2 class="visible-sm"><br>Interest</h2>
<p>Computer Programming, Internet, Sketching and Doodling, Operating System, Working on tiny side projects, Web development</p>
<br>
<h2>Services</h2>
<span class="hidden-sm"><br></span>
<p>Responsive Web Design and Development, Mobile Development and Branding ( <a href="mailto:deb.dbuniversity@gmail.com">let's talk</a> )</p>
</div>
</div>
</div>
</article>
