<h1><a href="{{ site.url }}" title="Home">{{ site.title }}</a></h1>
<br>

<p>Hello, world! I'm a 21 year old college guy who is currently doing B.Tech in Computer Science and Engineering.</p>
<p>I enjoy computer programming, writing CSS and doing projects, specially on web and <a target="_blank" href="https://github.com/debashisbarman/Mini-OS/">operating system</a>. Some of my works are available on <a target="_blank" href="http://www.behance.net/debashisbarman/">Behance</a>.</p>
<p>You can find me on <a target="_blank" href="https://www.github.com/debashisbarman/">Github</a>. Contact me at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
<p>I love minimalism and occasionally blog here.</p>


<p><img src="images/bg.jpg" alt="Debashis Barman" /></p>
<!--<p>(Photo by <a href="http://trishnabarman.github.io" target="_blank">Trishna Barman</a>)</p>
-->
