---
layout: default
---

<div class="article-head">
<h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
</div>
<div class="article-body">
{{ content }}
</div>

<div class="block">
<h2>Index</h2>
<ul>
{% for post in site.posts %}
<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="block">
{% include references.html %}
</div>

<div class="block">
{% include other.html %}
</div>

<div class="block">
{% include disclaimer.html %}
</div>
