---
layout: default
---

<body class="article" class="clearfix">

<article class="clearfix">
<div class="article-inner">
<div class="container clearfix">
<div class="row clearfix">
<div class="col-lg-10 col-md-12 col-sm-12 clearfix">
<p><small><a href="{{ site.url }}">Home</a> // {{ page.title }}</small></p>

<!-- Page Header -->
<h1 class="title">{{ page.title }}</h1>
<p>Published on {{ page.date | date: "%B %-d, %Y" }}</p>
<!-- Page Header ends -->

<br>
<div class="divider"></div>
<br>

<!-- Page Body -->
<section class="article-body">
{{ content }}
</section>
<!-- Page Body -->

</div>
</div>
</div>
</div>
</article>

{% include share.html %}

{% include other-articles.html %}

{% include footer.html %}

{% include google-analytics.html %}

</body>
